
div {
  margin-bottom: 15px;
  padding: 4px 12px;
}


/****************/
/*    Titles    */
/****************/

h1 { 
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 62px; 
  font-weight: 800; 
  line-height: 72px; 
  margin: 0 50 50px; 
  text-align: center; 
  text-transform: uppercase; 
  }

h2 { 
  color: #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 32px; 
  font-weight: 700; 
  line-height: 52px; 
  margin: 0 5 5px; 
  text-align: left; 
  text-transform: uppercase; 
  }

h3 { 
  color: #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 700; 
  line-height: 52px; 
  margin: 0 5 5px; 
  text-align: left; 
  text-transform: uppercase; 
  }

.title {
  width: 1000px; 
  margin: 0 auto;
  background-color: #257ed8; 
  text-align: center;
}

.footer {
  width: 1000px; 
  margin: 0 auto;
  background-color: #257ed8; 
  text-align: center;
}

.title p {
  font-size: 20px;
  color: #ffffff;
}

.footer p {
  font-size: 20px;
  color: #ffffff;
}

.items {
  width: 1000px; 
  margin: 0 auto;
  background-color: #ffffff; 
}

/*********************/
/*  Warning section  */
/*********************/

li{
  margin: 5px 0;
  font-family: 'Raleway',sans-serif;
}

p {
  font-family: 'Raleway',sans-serif; 
}

a {
  border-bottom: 1px dashed #aaaaaa;
  text-decoration: none;
  color: #000000;
}

li a:hover{
  background-color: #257ed8;
}

li a:focus{
  background-color: #257ed8;
}

/****************/
/* Tables style */
/****************/

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%
}

table#certs {
  width: 100%;
}

table td, th {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap:break-word;
}

table#smallcells td, th {
  min-width: 70px;
  max-width: 170px;
}

table.footable td, th {
  max-width: 900px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hove9 {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #257ed8;
  color: white;
  word-wrap:break-word;
}

th.test tr {
  background-color: #ff7ed8;
  color: #ff7ed8;
  word-wrap:break-word;
}

/****************/
/*  Rules tabs  */
/****************/

/*
#tabs {
  border: none;
  max-width: 90%;
  background: #ffffff;
  margin: auto;
}

#tabs ul {
	list-style: none;
	background: #ffffff;
	border: none;
	display: table;
	margin: auto;
	text-align: center;
}

ul#horizontal-list li {
	display: inline-block;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	border: none;
}
*/


#tabs li a {
  display:inline-block;
  width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-bottom: none;
}
*/

.bg-primary {                                                                   
    color: #000;   
    background-color: #009688; 
} 
  
.bg-info {                                                                      
    color: #01579B;                                                             
    background-color: #B3E5FC;                                                  
}                                                                               
 
.bg-danger { 
    color: #000; 
    background-color: #EF9A9A; 
} 
                                                                              
.bg-warning { 
    color: #000;
    background-color: #FFF9C4; 
} 
                                                                                
.bg-success { 
    color: #1B5E20; 
    background-color: #C8E6C9; 
} 


#map {
	height:550px;
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
}


nav {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	position: sticky;
	top: 0px;
}

nav ul {
	list-style-type: none;
}


nav ul li {
	float: left;
	width: 25%;
	text-align: center;
}

nav ul::after {
	content: "";
	display: table;
	clear: both;
}

nav a {
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	border-bottom: 2px solid gold;
}

.sous {
	display: none;
	margin: 2px;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
}

.sous li{
	float: none;
	text-align: left;
	width: 180px;
}

.sous a{
	width: 180px;
	border-bottom: none;
}

.sous a:hover{
	border-bottom: none;
	background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
	content:" ▼";
	font-size: 12px;
}

.sous {
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

nav > ul li:hover .sous{
	display: block;
	width: 180px;
}

